.main-img {
    display: none;
}

.projects {
    flex-direction: column;
}

.full-name {
    font-size: 2em;
    text-align: center;
}

.logo {
    width: 65px;
    height: 65px;
}

.profession {
    text-align: center;
    font-size: 1.2em;
    font-weight: 300;
}