body {
    font-family: 'Open Sans', sans-serif;
    color: #2d3c49
}

.logo {
    width: 50px;
    padding: 10px 0;
}

/*Header Profile*/
.profile {
    text-align: right;
}

.profile > .full-name {
    font-weight: 300;

}

.profile > .job-description {
    font-weight: 400;
}

.profile > .full-name,
.profile > .job-description {
    text-transform: uppercase;
}

.main-img {
    background: url("../img/desktop/main-img.jpg") no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
}

.feature-work__title {
    font-weight: 300;
    color: #7d97ad
}

.featured-work {
    margin-top: 25px;
}

.work__name {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}

.work .work__link {
    font-size: 12px;
    text-align: center;
    display: block;
    color: #2d3c49
}

.section-separator {
    width: 100%;
    border-bottom: 2px solid #7d97ad;
    margin: 15px 0;
}